body{
    padding: 50px;
}
.modal-content {
    width: 80%;
    margin:100px auto;
}
.modal-footer {
    height: 70px;
    margin: 0;
}
.modal-footer .btn {
    font-weight: bold;
}
.modal-footer .progress {
    height: 32px;
    margin: 0;
}

.input-group-addon {
    color: #fff;
    background: #3276B1;
}
